// Button btn-shape

%btn-shape {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 10px 15px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

%btn-gutter {
  margin-left: $box-gutter;
  margin-right: $box-gutter;
}

%btn-text {
  color: $white;
  text-transform: uppercase;
  font-weight: $font-bold;
}

%box-style {
  margin-bottom: 5px;
  height: 45px;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

%box-text {
  font-weight: $font-bold;
  padding-left: 10px;
  font-size: em_px(.8);
}
