// Font Stacks

$stack-sans-serif : 'Lato', sans-serif;
// $font-test: 'Shrikhand', cursive;

// Font Weights
$font-light: 100;
$font-medium: 300;
$font-bold: 800;

// Media Queries

$brk-narrow: (1px);
$brk-wide: (769px);

// Colors
$primary-teal: #22d8ae;
$s-aqua: #66edff;
$green: #39D267;
$red: #E47765;
$orange: #E56E24;
$purple: #B285CD;
$teal-light: lighten($primary-teal, 19%);
$aqua-dark: darken($s-aqua, 25%);
$purple-light: #dfb1f9;
$green-light: lighten($green, 18%);
$red-light: lighten($red, 10%);
$orange-light: lighten($orange, 13%);
$s-aqua-light: #7ff0ff;

$white: #fff;
$grey: #76777C;
$grey-light: lighten($grey, 35%);

// Button map
$btns : (
"default",
"success",
"error",
"warning",
"info",
);

// Button Colors
$btn-colors: (
default : $s-aqua,
success : $green,
error : $red,
warning : $orange,
info : $purple,
);

// Box Colors
$box-colors: (
  $primary-teal,
  $s-aqua,
  $purple-light,
  $s-aqua-light,
  $green-light,
  $aqua-dark,
  $red-light,
  $orange-light,
  $grey,
  $grey,
  $grey,
  $teal-light,
);

// Grid Variables
$box-count: 12;
$max-width: 1190px;
$box-width: 65px;
$box-gutter: 8px;
