// Forms:
// .form
// .form__label--hidden
// .form__input

.form {
  @include flex($dir: column);
  @include mediaQ('wide') {
    margin-left: 30px;
  }
}

.form__label--hidden {
  display: none;
}

.form__input {
  @extend %btn-shape;
  @include center-align(90%);
  text-align: left;
  font-size: em_px(.8);
  font-weight: $font-bold;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  border-bottom: $primary-teal 5px solid;
}
