// Grid:
// .container
// .grid__row
// .grid__col--2
// .grid__col--3
// .grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors

.container {
  @include inset-block(85%);
  @include mediaQ("wide") {
    @include inset-block(75%);
  }
}

.grid__row {
  @include mediaQ('wide') {
    @include flex($dir:row, $just: space-between);
    .centered {
      display: block;
      @include inset-block;
    }
    // .grid__col--6 {
    //   .img {
    //   @include center-align(45%);
    //   }
    // }
  }
}


@for $i from 1 through $box-count {
  .grid__col--#{$i}.theme__colors{
    @extend %box-style;
    @extend %btn-gutter;
    @extend %box-text;
  }
}

@include mediaQ('wide') {
  @for $i from 1 through $box-count {
    $boxes: $i;
    .grid__col--#{$i} {
      width: pct($boxes, $box-count);
    }
  }
}

.grid__col {
  @include box-colors;
  &--12 {
    width: 100%;
    @include mediaQ('wide') {
      @include flex($dir: row, $just: space-around);
    }
  }
}
