// Navigation:
// .nav__item



// .container:first-child {
//   @include mediaQ('wide'){
//     @include flex($just: space-between);
//   }
//   margin-bottom: 100px;
// }

nav {
  ul {
    padding-left: 0;
    @include center-align(95%);
    @include mediaQ('wide'){
      @include flex($just: space-around);
      width: 55%;
    }
    margin-bottom: 100px;
  }
}

.nav__item {
  @extend %btn-shape;
  a {
    text-decoration: none;
    font-size: 1.2em;
  }
  &:first-child {
    background-color: $primary-teal;
    a {
      color: $white;
    }
  }
}
