// Navigation:
// .nav__item


nav {
  @include inset-block;
  ul {
    padding-left: 0;
    padding-right: 0;
    @include center-align(95%);
    @include mediaQ('wide'){
      @include flex($dir: row, $just: space-between);
      width: 60%;
      margin-top: 50px;
    }

  }
}

.nav__item {
  @extend %btn-shape;
  a {
    text-decoration: none;
    font-size: em_px(1);
  }
  &:first-child {
    background-color: $primary-teal;
    a {
      color: $white;
    }
  }
}
